.head-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #eff3f6;
    height: 150px;
    border-bottom: 2px solid #bdc7d2;
}

.task {
    align-self: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ccecfb;
    border-radius: 0 0 5px 5px;
}

.task1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #bdc7d2;
}

.task2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task1 p {
    color: #617b8f;
    display: inline-block;
    width: 300px;
    text-transform: uppercase;
}

.task1 img {
    height: 25px;
    margin-right: 20px;
    padding: 5px 0;
}

.task2 p {
    color: #617b8f;
    width: 300px;
    margin-left: 20px;
    text-transform: uppercase;
}

.task2 img {
    height: 25px;
}

.ca {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #617b8f;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.ca-folder, .ca-announcements, .ca-historic, .ca-taxation, .providers, .edit {
    margin: 10px 50px;
}

.providers, .edit {
    align-self: flex-start;
    transform: translateX(400px) translateY(-30px);
}

.providers {
    width: 190px;
    height: 50px;
    background-color: #169fdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    width: 190px;
    height: 50px;
    background-color: #6dc1e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit p{
    font-size: 1.2em;
    font-weight: 400;
    color:  #ffffff;
}

.providers p {
    font-size: 1.2em;
    font-weight: 400;
    color:  #ffffff;
}

.ca-announcements p {
    color: #039be5;
    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 20px;
}

.white {
    height: 50px;
    background-color: white;
    border-bottom: 2px solid #bdc7d2;
}

.dropDown-up {
    background-color: #f0faff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #bdc7d2;
    border-right: 2px solid #bdc7d2;
}

.dropDown-up img {
    height: 20px;
    padding-left: 50px;
}

.dropDown-up-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.dropDown-up-items img {
    height: 20px;
    padding-right: 20px;
    padding-left: 40px;
}

.dropDown-up-items p {
    padding-right: 40px;
    border-right: 2px solid #bdc7d2;
}

.up {
    align-items: last;
    padding-right: 50px;
}

