.bottom-header {
    background-color:  #ffffff;
    color: #9362ba;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top:2px solid #bdc7d2;
    border-bottom:2px solid #bdc7d2;
}

.bottom-header img {
    margin: 5px 50px;
    height: 50px;
}

.bottom-header p {
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: 300;
}