*{
    margin:0;
    padding:0;
}
.wrapper{
    background: white;
    rgba(0,0,0.87);
}
.menu{
    display:flex;
    flex-direction: row;
    justify-content:left;
    margin-left:20px;
}
p{
    margin:10px;
}
.p-blue{
    color:#039be5;
}
.menu-r{
    position:absolute;
    top:25px;
    right:10px;
    background-color: #039be5;
    color: white;
    width:140px;
    padding:10px;

}
.content-1{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color:#039be5;

}
.pulper{
display: flex;
    flex-direction:row;
    background-image: url("../assets/img/offLong.svg");
    width:150px;
    height:45px;
}
.manda{
    background-image: url("../assets/img/offLong.svg");
    width:85px;
    height:25px;
}
.mwith{
    background-image: url("../assets/img/offLong.svg");
    width:85px;
    height:25px;
}
.volun{
    background-image: url("../assets/img/offLong.svg");
    width:85px;
    height:25px;
}
.num{
    display:flex;
    flex-direction: row;
    border:1px solid gray;
    color:gray;
    margin-bottom: 0;
}
.code{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.un{
    background-image: url("../assets/img/announcementUnchecked.svg");
    width:20px;
    height:20px;
    padding:10px;
    font-size: 12px;
}

.deux-trois{
    background-image: url("../assets/img/announcementUnchecked.svg");
    width:20px;
    padding:10px;
    font-size: 12px;
}
.content-2{
    display:flex;
    flex-direction: row;
    background:#039be5;
    justify-content:center;
    color:blue;
    border:1px solid gray;
}
.content-2 p{
    padding_bottom:0;
}
.trd{
    display:flex;
    flex-direction:row;
}
.lb{
    display:flex;
    flex-direction: column;
}
.content-3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid #000;
}
.images{
    display:flex;
    flex-direction: row;
}
.red{
    color:red;
}
.bottom{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.number{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom:15px;
}
.cent{
    display: flex;
    flex-direction: row;
    border:1px solid #000;
    background: white;
}
.code-bis{
    display:flex;
    flex-direction: row;
    margin-left:60px;
}
.head{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size:10px;
}
/*.chif{
    color:dodgerblue;
    font-size:10px;
}*/
.tree{
    background-image: url("../assets/img/orangeBubble.svg");
    width:20px;
    height:20px;
   position:absolute;
    top:277px;
    left:136px;
    font-size: 10px;
    /*margin-left:60px;*/
}
.neu{
    background-image: url("../assets/img/orangeBubble.svg");
    width:25px;
    height:25px;
    position:absolute;
    top:15px;
    left:268px;
}
.bkg-bottom{
    background:#039be5;
}


