.bg-lightPurple {
    height: 15px;
    background-color: #9362ba;
}

.bg-deepPurple {
    height: 30px;
    line-height: 30px;
    background-color: #581e74;
}

.bg-deepPurple p {
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 50px;
}

.logo-bpce {
    height: 40px;
    margin-left: 50px;
}