.menu {
    height: 100px;
    background-color: #fff;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-natixis{
    display: block;
    height: 40px;
    margin: 30px;
    margin-left: 50px;
}

.header-title {
    color: #9362ba;
    font-size: 2.5em;
}

.header-underTitle {
    align-self: flex-end;
    color: #9362ba;
    font-size: 6px;
    transform: translate(-72px, -18px);
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

.items {
    margin: 0 50px;
    height: 40px;
}

.grey-circle {
    background-color: #F6FAFC;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 50px;
}

.items-center {
    margin: 10px;
}
