@import url("top-header.css");
@import url("header.css");
@import url("footer.css");
@import url("bottom-header.css");
@import url("announcement.css");
@import url("dashboard.css");



*{
    margin:0;
    padding:0;
}
body {
    font-family: 'roboto', Arial,sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position:relative;
    background: white;
    rgba(0,0,0.87);
}

.title {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.empty {
    width: 280px;
}

.welcome{
    color: #9362ba;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.title-dashboard {
    background-color: #f9fafb;
    color: #a780c7;
    height:70px;
    margin-right: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-dashboard img {
    height: 35px;
}

.title-dashboard p {
    margin-right: 20px;
    font-size: 2rem;
}

.dashboard {
    margin: 0 20px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 300px;
}

.bkg1{
    background-color: #9362ba;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bkg1 img {
    height: 200px;
    margin: 30px 0;
}

.bkg2{
    background-color: #b2c72c;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bkg2 img {
    height: 200px;
    margin: 30px 0;
}

.bkg3{
    background-color:#169fdb;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bkg3 img {
    height: 200px;
    margin: 30px 0;
}

.card-main {
    background-color: #ffffff;
}

.card-title {
    color: #768d9e;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 0;
}

.card-items {
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 100%;
}

tr {
    margin-bottom: 10px;
}

.card-items p {
    text-align: left;
}

.card-items img {
    width: 100px;
}

.color-p-item-1 {
    color: #9362ba;
}

.color-p-item-2 {
    color: #b2c72c;
}

.card-footer-separator {
    height: 2px;
    width: 100%;
    background-color: #bdc7d2;
}

.card-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #f6fafc;
}

.card-footer-content p {
    color: #a7b6c2;
    padding: 20px;
    letter-spacing: 2px;
}

.card-footer-content img {
    height: 30px;
    padding-right: 20px;
}

.hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h{
    color: #768d9e;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    padding: 15px 10px 15px 10px;
}
.p1{
    border-top:2px solid #039be5;
    border-bottom:2px solid #039be5;
    padding:10px 5px;
    width:30px;
    color:gray;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #bdc7d2;
}

.info-row img {
    height: 20px;
    margin: 8px 10px;
}

.info-row p {
    color: #455465;
    margin: 8px 10px;
}

